@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminos y condiciones</title>
    <link rel="stylesheet" href="~/EstilosFooter/termstyle.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body id="demo-textarea">

    <div class="Main">
        <nav class="menu">
            <div>
                <a asp-action="Index"><img id="logo" src="~/Images/Menu/MythSchool.png" class="logoPrincipal"></a>
            </div>
            <div class="atributos">
                <a href="#quees">◼ ¿Que es MythSchool?</a>                 <div class="line"></div>
                <a href="#intro">◼ Nuestro equipo</a>
                <a href="#import">◼ Nuestras oficinas</a>
            </div>
        </nav>
        <div class="Contenedor">
            <a name="quees"><div class="introduccion"></a>
            <h1>¿Qué es MythSchool?</h1>
            <h2>Ideas principales</h2>
            <p>
                La idea principal de nuestro proyecto es crear una página para buscar, comparar
                y seleccionar los planteles educativos de una ciudad o ubicación actual, comparando su sistema educativo y su puntuación media en la página.
            </p>
            <p>
                También el agregar un apartado de información para saber información básica, el funcionamiento del plantel y sus ofertas educativas.

            </p>
            <br></br>
            <h2>Objetivo</h2>
            <p>
                El objetivo de esto es hacer que los padres de los estudiantes y los mismos estudiantes puedan buscar una
                escuela/colegio de una manera más práctica, sencilla e interactiva para fomentar  y simplificar lo complejo que es a veces encontrar escuelas ya sea primaria/secundaria/media superior y superior, además potenciar las competencias y el desarrollo educativo de más escuelas o planteles.
            </p>
            <p>
                Buscamos otorgar la mejor comodidad al usuario para que este pueda elegir su futuro y su zona de aprendizaje (casos de educación media-superior y superior) en base a su ubicación, su área educativa de interés y un sistema de puntuación según la experiencia de otros usuarios en dicha institución ya sea privada o publica.
            </p>
        </div>

        <div style="background-color:gainsboro;padding-top:0.5%; padding-bottom:0.5%;">
            <a name="intro"><div class="introduccion"></a>
            <h1 sstyle="color:white;"  >Nuestro Equipo</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="/Images/Colaboradores/Leo.jpg" height="260px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rebollo Calero Leonardo Daniel</h5>
                            <p class="card-text">Lider de proyecto.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/Images/Colaboradores/311642270_524922692852049_3517742735619502139_n (1).jpg" height="260px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rosario Novelo Joahan Emmanuel</h5>
                            <p class="card-text">Front-End.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/Images/Colaboradores/yoshua.jpg" height="260px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Moreno Arredondo Yoshua Raymundo</h5>
                            <p class="card-text">Back-End.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/Images/Colaboradores/camara.jpg" height="260px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Camara Andueza Carlos Mauricio</h5>
                            <p class="card-text">Front-End.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/Images/Colaboradores/ja.jfif" height="260px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sanguino Cob Jafet Nilmar</h5>
                            <p class="card-text">Back-End.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/Images/Colaboradores/johan.jpg" height="260px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ciau Cetz Jhoandi Abraham</h5>
                            <p class="card-text">Back-End.</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>


    </div>

    <a name="import"> <div class="importante"></a>
    <br></br>

    <h2>Nuestras oficinas</h2>
    <p><li>Oficinas centrales en aula 15</li></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14881.124745222482!2d-86.90656!3d21.180986!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2c0162fb4071%3A0xc881c60dfcc845c!2sUniversidad%20Polit%C3%A9cnica%20de%20Quintana%20Roo!5e0!3m2!1ses-419!2smx!4v1664167780811!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br></br>
    <br></br>
    <br></br>
    </div>
    </div>
    </div>



    <script src="~/js/acerterm.js"></script>

</body>
</html>
