@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminos y condiciones</title>
    <link rel="stylesheet" href="~/EstilosFooter/termstyle.css">
</head>
<body id="demo-textarea">

    <div class="Main">
        <nav class="menu">
            <div>
                <a asp-action="Index" href="Main.html"><img id="logo" src="~/Images/terms/mythblack.png" class="logoPrincipal"></a>
            </div>
            <div class="atributos">
                <a href="#quees">◼ ¿Que es School4Me?</a>                 <div class="line"></div>
                <a href="#intro">◼ Nuestro equipo</a>
                <a href="#import">◼ Nuestras oficinas</a>
            </div>
        </nav>
        <div class="Contenedor">
            <a name="quees"><div class="introduccion"></a>
            <h1>¿Que es MythSchool?</h1>
            <h2>Ideas principales</h2>
            <p>
                La idea principal de nuestro proyecto es crear una pagina para buscar, comparar
                y seleccionar los planteles educativos de una ciudad o ubicación actual, comparando su sistema educativo y su puntuación media en la pagina.
            </p>
            <p>
                También el agregar un apartado de información para saber información básica, el funcionamiento del plantel y sus ofertas educativas.

            </p>
            <br></br>
            <h2>Objetivo</h2>
            <p>
                El objetivo de esto es hacer que los padres de los estudiantes y los mismos estudiantes puedan buscar una
                escuela/colegio de una manera mas practica, sencilla e interactiva para fomentar  y simplificar lo complejo que es a veces encontrar escuelas ya sea primaria/secundaria/media superior y superior, además potenciar las competencias y el desarrollo educativo de mas escuelas o planteles.
            </p>
            <p>
                También como ya mencionamos, buscamos otorgar la mejor comodidad al usuario para que este pueda elegir su futuro y su zona de aprendizaje (casos de educación media-superior y superior) en base a su ubicación, su área educativa de interés y un sistema de puntuación según la experiencia de otros usuarios en dicha institución ya sea privada o publica.
            </p>
        </div>


        <a name="intro"><div class="introduccion"></a>
        <h1>Acerca de nosotros</h1>
        <h2>Nuestro equipo</h2>
        <p><li>Rebollo Calero Leonardo Daniel</li></p>
        <p><li>Joahan Emmanuel Rosario Novelo</li></p>
        <p><li>Yoshua Raymundo Moreno Arredondo</li></p>
        <p><li>Mauricio Camara</li></p>
        <p><li>Jafet Nilmar Sanguino Cob</li></p>
        <p><li>Ciau Cetz Jhoandi Abraham</li></p>
    </div>

    <a name="import"> <div class="importante"></a>
    <br></br>

    <h2>Nuestras oficinas</h2>
    <p><li>Oficinas centrales en aula 15</li></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14881.124745222482!2d-86.90656!3d21.180986!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2c0162fb4071%3A0xc881c60dfcc845c!2sUniversidad%20Polit%C3%A9cnica%20de%20Quintana%20Roo!5e0!3m2!1ses-419!2smx!4v1664167780811!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    </div>
    </div>



    <script src="JS/acerterm.js"></script>

</body>
</html>
