@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/MenuStyle.css">

<div class="Bienvenida-text">
    <h1 class="txtbienvenida">Bienvenido a</h1><h1 class="txtbienvenida2">MythSchool</h1>
    <p>Empieza a buscar la universidad perfecta para ti con un solo click</p>
    <a asp-action="Menu" asp-controller="Home"><button  class="empezarbtn"><i class="fa-solid fa-arrow-right-to-bracket"></i>   Empezar</button></a>
</div>


<div class="sc-2">
    <div class="objetivo">
        <strong>MythShchool </strong><p>es una pagina especializada en la busqueda y recoleccion de informacion en cuanto a insituciones de media superior como superior tanto publicas como privadas</p>
    </div>
<div class="img-ini">
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/45/1c/9d/university-of-glasgow.jpg?w=1200&h=-1&s=1"/>
</div>
</div>