@model PFmyschool.Models.Reporte.ReporteEscuela

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/MenuStyle.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/cbmen.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />



<div class="Bienvenida-text">
    <div style="margin-top:6%;">
        
    <h3 class="txtbienvenida">Bienvenido a  </h3><h3 class="txtbienvenida2"><img height="90px" width="90px" src="~/Images/LogoCorto.png" />  MythSchool</h3>
    </div>
    <h4 class="animationmen">
        La forma mas facil de encontrar l@s mejores
        <span class="txt-rotate"
              data-period="2000"
              data-rotate='[ "Cursos.", "Carreras.", "Universidades.", "Preparatorias.", "Oportunidades!" ]'></span>
    </h4>
    <div class="cbbusop">
        <form asp-action="Menu" method="post" class="row g-4">
            <div class="col-md-3">
                <label for="inputCity" class="form-label"><i class="fa-solid fa-location-dot"></i> Municipio</label>
                <select asp-for="FkUbicacion" asp-items="ViewBag.EscuelasUbi" id="inputState" class="form-select">
                    <option value="">--Selecciona--</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label"><i class="fa-solid fa-up-down"></i> Nivel</label>
                <select asp-for="FkNivel" asp-items="ViewBag.EscuelasNivel" id="inputState" class="form-select">
                    <option value="">--Selecciona--</option>

                </select>
            </div>
            <div class="col-md-3">
                <label for="inputZip" class="form-label"><i class="fa-solid fa-sack-dollar"></i> Sostenimiento</label>
                <select asp-for="FkSostenimiento" asp-items="ViewBag.EscuelasSos" id="inputState" class="form-select">
                    <option value="">--Selecciona--</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="empezarbtn">
                    <div class="wrapper">
                        <div class="cta">
                            <span>Empezar</span>
                            <span>
                                <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                        <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                        <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>


<div class="sc-2">
    <div class="objetivo">
        <h5 style="font-weight:bold; color: rgb(253, 190, 71);">MythShchool </h5><p>Es una página web dedicada y especializada en la busqueda y recoleccion de información en cuanto a instituciones educativas tanto de media superior como superior.</p>
        <p>La recoleccion de esta información se da mediante registros de intituciones por autoridades verificas, cada institución se verifica su autenticidad y se almacena</p>
        <br></br>
        <h5 style="font-weight:bold; color: rgb(253, 190, 71);">Explora </h5><p>¡Explora y conoce todas las ofertas educativas que tenemos a tu alcance!</p>

    </div>
    <div class="img-ini">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/45/1c/9d/university-of-glasgow.jpg?w=1200&h=-1&s=1" />
    </div>
</div>
<div style="background-color:#e2e2e2; padding-top: 10%; ">
    <img src="https://www.nicepng.com/png/full/331-3317809_color-paint-splash-gigantes-de-pamplona-dibujos.png" style="margin-top:-20%; margin-bottom: -15%; height: 600px;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-5 col-md-6">
                <section class="first-sc1">
                    <p><i class="fa-solid fa-folder-open"></i> ¡Mas de 20 escuelas registradas!</p>
                    <p><i class="fa-solid fa-earth-asia"></i> ¡Universidades y preparatorias de todo Quintana Roo!</p>
                    <p><i class="fa-solid fa-comment"></i> ¡Opiniones de docentes!</p>
                </section>

            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <section class="second-sc2">
                    <p><i class="fa-solid fa-star"></i> ¡Vloraciones y comparaciones!</p>
                    <p><i class="fa-solid fa-medal"></i> ¡Ofertas educativas y cursos!</p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6">
                <section class="second-sc4">
                    <p><i class="fa-solid fa-star"></i> La mejor página para busca y encontrar una oportunidad</p>
                    <p><i class="fa-solid fa-magnifying-glass"></i> No pierdas el tiempo buscando manualmente</p>
                </section>
            </div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                <section class="first-sc3">
                    <p><i class="fa-solid fa-graduation-cap"></i> ¡Más 30 carreras variadas solo aquí!</p>
                    <p><i class="fa-solid fa-desktop"></i> ¡Intuitivo!</p>
                    <p><i class="fa-sharp fa-solid fa-face-smile"></i> ¡Mejor que otras opciones!</p>
                </section>

            </div>
        </div>
    </div>
</div>



<div style="background-color: #002d3f; color: #ffc107; padding-top: 2%; margin-top: 15%; ">
    <div">
        <div style="display:flex;">
            <div class="col">
                <img style="margin-top: -25%;margin-left:15%; transform: rotate(-10deg); " src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Emoji_u1f393.svg/640px-Emoji_u1f393.svg.png" height="400px" />

            </div>
            <div class="col">
                <div class="row">
                    <h4>¡Anuncia tu institución con nosotros!</h4>
                    <a asp-action="Contactanos" asp-controller="Home" class="btnira">Ir</a>

                </div>

            </div>
        </div>
         
    </div>
   
</div>

<script>
    var TxtRotate = function (el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function () {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

        var that = this;
        var delta = 300 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function () {
            that.tick();
        }, delta);
    };

    window.onload = function () {
        var elements = document.getElementsByClassName('txt-rotate');
        for (var i = 0; i < elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
        document.body.appendChild(css);
    };

</script>
