@model IEnumerable<PFmyschool.Models.Escuelas>
@{
    ViewData["Title"] = "Menu";
}
<html>
<link rel="stylesheet" href="~/css/MenuStyle.css">
<script src="~/js/cargar.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- BOOTSTRAP JAVASCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<body id="demo-textarea" class="hidden" style="background-color:#ffffff">

    <div class="centradogx" id="onload">
        <div class="lds-default">

            <div></div>

            <div></div>

            <div></div>

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <br></br>



    <div class="containerGH">
        <div class="divfiltrado">
            <div id="filt" class="btn-group">
                <div class="dropdown">
                    <select class="btn btn-secondary dropdown-toggle" data-placeholder="Municipio">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                        <option class="dropdown-item">Municipio</option></li>
                        <li>
                        <option class="dropdown-item ">Actual</option></li>
                        <li>
                        <option class="dropdown-item">Benito Juarez</option></li>
                        <li>
                        <option class="dropdown-item">Felipe carrillo puerto</option></li>
                        <li>
                        <option class="dropdown-item">Othon P. Blanco</option></li>
                        </ul>

                    </select>

                </div>
                <div class="dropdown">
                    <select class="btn btn-secondary dropdown-toggle" data-placeholder="Nivel educativo">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                        <option class="dropdown-item">Nivel Educativo</option></li>
                        <li>
                        <option class="dropdown-item">Superior</option></li>
                        <li>
                        <option class="dropdown-item">Media-Superior</option></li>
                        </ul>

                    </select>

                </div>

                <div class="dropdown">
                    <select class="btn btn-secondary dropdown-toggle" data-placeholder="Sostenimiento">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                        <option class="dropdown-item">Sostenimiento</option></li>
                        <li>
                        <option class="dropdown-item ">Publica</option></li>
                        <li>
                        <option class="dropdown-item">Privada</option></li>
                        </ul>
                    </select>

                </div>

                <div class="dropdown">
                    <select class="btn btn-secondary dropdown-toggle" data-placeholder="Puntuacion Media">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                        <option class="dropdown-item">Ordenar de: </option></li>
                        <li>
                        <option class="dropdown-item">Mayor a menor</option></li>
                        <li>
                        <option class="dropdown-item">Menor a mayor</option></li>
                        </ul>
                    </select>

                </div>
                <!-- BOTON DE AGREAR (temporal...)-->
                <button id="agregar" class="filtar-btn" onclick="Agregar()"><i class="fa-solid fa-filter"></i>   Filtrar</button>
            </div>
        </div>


        <!--FIN DEL AREA DE FILTROS  -->
        <!-- AREA DE LAS PAGINITAS DE ESCUELAS -->


        <div class="containerMen">
            <div id="contant" class="row row-cols-1 row-cols-md-3 g-3">
                <div id="elemento" class="col">
                    <a asp-action="Informacion" asp-controller="Home" class="link">
                        <div class="resul">
                            <img src="https://i0.wp.com/lucesdelsiglo.com/wp-content/uploads/2021/08/N3-UNI-POLITE%CC%81CNICA-P.jpeg?fit=1200%2C675&ssl=1" class="card-img-top" alt="...">
                            <div class="cardboy">
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-school-flag"></i>Nombre: </h1><p class="texto"> Universidad politecnica Q.Roo</p></li>
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-location-dot"></i>Ubicacion: </h1><p class="texto"> Benito Juarez / Cancun</p></li>
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-up-down"></i>Nivel: </h1><p class="texto"> Superior</p></li>
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-sack-dollar"></i>Sostenimiento: </h1><p class="texto"> Publica</p></li>
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-star"></i>Puntuacion media: </h1><p class="texto"> 4.5 / 5</p></li>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
            </div>
    </div>




    <!-- FIN DE AREA DE LAS PAGINITAS DE ESCUELAS -->
    <!-- EL PAGINATION -->

    <div class="pagination justify-content-center">
        <div class="pagination pagination-lg">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>

        </div>
    </div>


</body>

</html>

<script>
    //SCRIPT OBTENER EL ALTO Y ANCHO DE LA PAGINA WEB


    const resize_ob = new ResizeObserver(function (entries) {
        let rect = entries[0].contentRect;


        let width = rect.width;
        let height = rect.height;

        console.log('Current Width : ' + width);
        console.log('Current Height : ' + height);


        if (width < 1366) {
            document.getElementById('contant').className = "row row-cols-1 row-cols-md-2 g-3";
        } else {
            document.getElementById('contant').className = "row row-cols-1 row-cols-md-3 g-3";
        }

        if (width < 970) {
            document.getElementById('contant').className = "row row-cols-1 row-cols-md-2 g-3";
        }


        if (width < 900) {
            document.getElementById('logcort').style.height = '0px';
            document.getElementById('logcort').style.width = '0px';
            document.getElementById('filt').style.display = 'block';
            document.getElementById('filt').style.marginLeft = '5%';
            document.getElementById('filt').style.marginRight = '0';
        } else {
            document.getElementById('logcort').style.height = '35px';
            document.getElementById('logcort').style.width = '190px';
        }

    });

    resize_ob.observe(document.querySelector("#demo-textarea"));







</script>