@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
	margin: 0;
	padding: 0;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}


.animationmen {
    font-family: Bahnschrift Light;
}

    .animationmen span {
        font-family: Bahnschrift SemiBold;
        color: orange;
    }


.btnira {
    padding: 1%;
    background-color: #3294ba;
    border-radius: 10px;
    color: white;
    width:100px;
    text-align:center;
    text-decoration:none;
    margin-left:20%;
    font-weight:bold;
    margin-top:2%;
}
.btnira:hover {
    background-color: #3294ba;
    text-decoration: none;
}

.cbbusop {
    margin: auto;
    text-align: center;
    padding: 2%;
    background-color: transparent;
    margin-top: 3%;
    padding-bottom: 15%;
    padding-left: 10%;
    padding-right: 10%;
    opacity: 0.8;
}

.form-select{
    background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white;
border-radius: 10px;
color: #002d3f;
border-style: solid;
border-color: #002d3f;
border-width: 2px ;
padding: 3%;
cursor: pointer;
font-weight: bold;
font-style: NeueHaasUnicaPro-Medium,sans-serif;
box-shadow: 6px 6px 0 #002d3f;
}

.form-select:hover{
    background-color:transparent;
    color: #002d3f;
    border-style: solid;
    border-color: #002d3f;
    padding: 3%;
    transition: 0.5s;
    
    }




    .form-label{
        color: #002d3f;
        font-weight: bold;  
        font-size: 18px; 
    }


    .optionssc{
        background-color: #f3f3f3;
border-radius: 10px;
color: #002d3f;
border-style: solid;
border-color: rgb(160, 160, 160);
padding: 3%;
cursor: pointer;
font-weight: bold;
font-style: NeueHaasUnicaPro-Medium,sans-serif;
    }