html,body {
  width: 100%;
  height: 95%;
  font-family: Arial, Helvetica, Sans-serif;
  background: rgb(2,0,36);
  background-image: url('https://img.freepik.com/free-vector/abstract-background-with-monochrome-low-poly-design_1048-14453.jpg?w=900&t=st=1664459462~exp=1664460062~hmac=7dd924bafe502746067e1acaa4e80b92d2030c863d1afa6c0cf7a3c56e45942d');
  background-size: cover;
}

/* loader */

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.centradogx{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #243959;
}

.hidden{
  overflow:hidden;
}





.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}



/* loader-fin */


.img-ini {
    border-radius: 10px;
    overflow: hidden;
    margin-top: -3%;
    margin-right: 5%;
    height: 500px;
    border-style: solid;
    border-color: white;
    margin-bottom: -3%;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
    transition: .5s;
}
    .img-ini:hover {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);
        transition: .5s;
    }

.objetivo {
    margin-top:3%;
    font-family: 'Microsoft Sans Serif';
    color: white;
    font-size: 16px;
    font-weight:lighter;
    margin-left:5%;
}

.Bienvenida-text {
    text-align: center;
}

    .Bienvenida-text p {
        font-size: 20px;
        font-family: 'Arial Rounded MT';
        margin-bottom:5%;
    }


.filtar-btn {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    transition: 0.5s;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-left:2%;
}

    .filtar-btn:hover {
        background: #08b9ff;
        cursor: pointer;
    }

.sc-2 {
    background-color: #263c5e;
    padding-left: 10%;
    display: flex;
    opacity: 0.95;
    margin-bottom: 5%;
}

.txtbienvenida {
    text-align: center;
    margin-top: 8%;
    font-size: 66px;
    font-family:'Arial Rounded MT';
    
}
.txtbienvenida2 {
    color: red;
    font-size: 66px;
    font-family: 'Arial Rounded MT';
    font-weight: bold;
}

.empezarbtn {
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    color: #08b9ff;
    border-radius: 5px;
    margin-bottom: 5%;
    border-width: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
    .empezarbtn:hover {
        border-style: solid;
        border-color: #08b9ff;
        border-width:3px;
    }
.sc-01 {
    background-color: white;
    margin-left: 2%;
    display: flex;
    height: 35px;
    border-radius:5px;

}


.sc-01 i{
    font-size:20px;
    color:black;
    margin-top:2.5%;
}

.combo-bus {
    border-style:none;
    background-color:transparent;

}

.container {
    height: 97%;
    position: relative;
    width: 100%;
    z-index: 10;
}

.myth{
height: 100px;
width: 200px;
}

  nav{
    overflow: hidden;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #263c5e;
    z-index: 20;
    position: fixed;  
    padding: 10px 0px 5px 10px;
    display: flex;
    opacity: 0.95;
  }

  .labelfil{
font-size: 16px;
font-weight: bold;
  }

  .links{
    text-decoration: none;
  
  }

  nav .logo{
    border-width: 2px;
    border-radius: 50px;
    cursor: pointer;
  } 

  .btn-group{
    display: flex;
       
    margin-left: 20%;
    margin-right: 20%;
  }

  .divfiltrado{
    padding: 20px 10px 0px 0;
    max-width: 100%;
    width: auto;


  }
  
  .dropdown{
    padding: 0px 0px 0px 10px;
  }
  nav a{
    font-size: 15px;
    text-transform:  uppercase;
    color: rgb(255, 0, 0);
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
  
  nav .logopequeno{
    height: auto;
    max-width: 100%;
    position: static;
    transition: 0.5s; 
    margin-left: 5%;
    margin-top: -0.2%; 

  }

  nav .logopequeno:hover{
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    transition: 0.5s;
  }

  nav .Main{
    background-color: #ffffff;
   margin-top: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 1s;
    
  }

  /* Dropdown */

  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
    text-align: left;

  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 8px 8px 16px 8px rgba(43, 43, 43, 0.2);
    padding: 12px 16px;
    z-index: 99;
    margin-left: -120px;
    text-align: left;


  }

  .linkuser{
    font-size: 12px;
    color: #343A40;
    padding: 5px 10px;
    display: list-item;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    
  }


  .linkuser:hover{
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    color: #243959;
    
  }


.aligpag{
  margin: 0;
  align-items: center;
  text-align: center;
}

.page-link{
  background-color: #343A40;
  font-size: 70px;

}
  
  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 10;
    border-radius: 10px;
    text-align: left;
    
  }

/* Dropdown */


  .link{
    text-decoration: none;
    height: auto;
  }

  .link:hover{
    border-radius: 90px;
    opacity: 0.9
    
  }


  .resul{
    background-color: #343A40;
    border-radius: 10px;
    height: 100%;
    transition: 1s;
    text-decoration: none;
    margin: 2%;
    max-width: 90%;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    overflow: hidden;
  }
  .resul:hover{
    background-color:#343A40;
    border-radius: 10px;
    transition: 0.5s;
    margin-left: -3%;
   margin-right: 3%;
    text-decoration: none;
    opacity: 1;
    box-shadow: 6px 6px 4px 6px #888;
    position: relative;

  }
.card-image{
  border-radius: 10px;
}

  .pagination{
margin-top: 5%;
margin-bottom: 5%;
  }


  .card-img-top{
    height: 190px;
    width: auto;

  }


  .cardboy{
    background-color: #343A40;
    padding: 5px 15px 5px 15px;
    max-height: 100%;   
  }

  /* #343A40 */
  
  .texto{
    display:inline;
    color: rgb(236, 124, 44);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
  }

  .cardlist{
    list-style: none;
  }
  .containerMen{
    padding: 2% 15% 1% 15%;
  }
  
  .cardtitulo{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-flex;
  }

  nav .IniciarSesion{
    font-size: 15px;
    color: rgb(180, 180, 180);
    background-color: transparent;
    border-style: none;
    border-radius: 10px;
    height: 10%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px 5px 5px;
    transition: 0.5s;
    margin-right: -1%;
  }

  nav .IniciarSesion:hover{
    color: white;
    transition: 0.5s;
  
  }


  .Mythlogo{
    position: relative;
    height: 35px;
    width: 190px;
    margin-left: .5%;
    margin-top: .15%;
  }

  .containerGH{
    height: auto;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  nav .Buscar{
    font-size: 16px;
    background-color: transparent;
    border-style: none;
    border-radius: 10px;
    height: auto;
    width: auto;
    padding: 5px 15px 5px 15px;
    color: rgb(104, 104, 104);
    transition: 0.5s;
  
  }

  
  .espacio2{
    min-width: 10%;
    width: 15%;
  }

  .bar{
    height: 35px;
    width:100%;
    border-radius: 10px;
    background-color: #ffffff;
    border-style: none;
    color: rgb(49, 49, 49);
    padding: 0px 15px 0px 15px;
  }

  .espacio{
    min-width: 15%;
    width: 20%;
    position: relative;
  }

  
  .selecthoover:hover{
     height: 50px;
  }


  nav .buscarMain{
    height: 35px;
    width: 30%;
    border-radius: 10px;
    background-color: #ffffff;
    border-style: none;
    color: rgb(49, 49, 49);
    display:flex;
    position: relative;
  }
  
  
  .buscarMain:focus{
    color: white;
    background-color: #344257;
  }

  .footerMain{
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: auto;
    z-index: 5;
    position: relative;
    opacity: 0.95;
        bottom: 0;
  }
  
  .footerMain .col {
    width: 24%;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 3% 0px 5% 0px;
    text-align: center;
    display:inline-flex;
  }
  .footerMain .col h1 {
    margin: 0;
    margin-left: 10%;
    font-size: 12px;
    padding: 0px 0px 5px 0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }

  .footerMain .col h6 {
    color: #999999;
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
    cursor:default;
  }


  
  .footerMain .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  
  .footerMain .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footerMain .col ul li:hover {
    color: rgb(255, 255, 255);
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footerMain .col {
      width: 33%;
    }
    .footerMain .col h1 {
      font-size: 14px;
    }
    .footerMain .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footerMain .col {
        width: 50%;
      }
      .footerMain .col h1 {
        font-size: 14px;
      }
      .footerMain .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footerMain .col {
      width: 100%;
    }
  }