*{
    margin: 0;
    padding: 0;
    box-sizing:0;
}
body {
    font-family: Arial;
    background-color: #263c5e;
}

.wrng{
margin: 5px;
visibility: hidden;
color: #ff0000;
}

.link{
  text-decoration: none;
}


.logoPrincipal{
  z-index: 5;
  text-align: center;
  max-width: 100%;
  height: 150px;
  margin-left: 35%;
}

.logoSec{
  margin-top: 2%;
  z-index: 5;
  text-align: center;
  max-width: 100%;
  height: 50%;
  
}

.ingre{
  margin-top: 2%;
  text-align: center;
  font-weight: normal;
  margin-bottom: 2%;
}

.flexclass{
  display: flex;
margin-left: 30%;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
}


.appslogo{
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-right: 5%;
  cursor: pointer;
}


.controls i {
    font-size: 16px;
    margin-left:10px;
}

.inputg {
    background-color: transparent;
    border-style: none;
    margin-left: 2%;
    
    font-weight: bold;
    color: white;
    padding: 11px 10px;
    width:90%;
}

.logosJunt {
    display: flex;
    margin: auto;
    margin-top: 2%;
    text-align:center;
}

  .form-Login h6{
    font-size: 14px;
    margin-bottom: 15px;
  }

.form-Login {
    width: 450px;
    height: auto;
    background: #1b1818;
    margin: auto;
    margin-top: 1%;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
    opacity: 0.95;
    border-radius: 10px;
    margin-bottom: 1%;
}

.form-Login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    
}

.controls{
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    background: #252323;
    border-radius: 10PX;

}

.buttons{

    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    transition: 0.5s;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.link{
text-decoration: none;
cursor:pointer;
}

.buttons:hover{

   
    background: #08b9ff;
cursor: pointer;

}

.form-Login p{
height: auto;
text-align: center;

}

.form-Login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    
}

.form-Login a:hover{
    text-decoration: underline;

}

 