@model PFmyschool.Models.OfertasEdu

@{
    ViewData["Title"] = "Roles Page";
    Layout = "_LayoutDashboard";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="~/css/sitedashboard.css">

<br></br>
<br></br>
<br></br>
<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Añadir Oferta educativa</strong></h1>

            </div>

            <div class="card-body">


                <form asp-action="RegistrarOfertaE" method="post">
                    <div class="row g-2">
                        <div class="col-sm">
                            <label asp-for="NomOferta">Nombre de la oferta educativa</label>
                            <input asp-for="NomOferta" class="form-control" placeholder="Ingresar el nombre de la nueva oferta educativa" required />
                        </div>

                        <div class="col-sm">
                            <label class="visually-hidden" for="autoSizingSelect">Institución</label>
                            <select asp-for="FkEscuela" asp-items="ViewBag.Escuelas" class="form-select" id="autoSizingSelect" class="select2-placeholder-multiple form-control">
                                <option value="">--Selecciona--</option>
                            </select>

                        </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="DescOferta">Nombre de la oferta educativa</label>
                            <input asp-for="DescOferta" class="form-control" placeholder="Ingresar una breve descripcion de la oferta educativa" required />

                        </div>
                        <div class="row">
                            <div class="col-6"><button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-check"></i>Crear </button></div>
                            <div class="col-6"><a class="btn btn-outline-dark" asp-controller="User" asp-action="AdminEsc"><i class="fa-duotone fa-turn-down-left"></i>Volver </a></div>
                        </div>


</form>
                <br />



            </div>


        </div>


    </div>


</div>