@model PFmyschool.Models.Usuario
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Registro";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- BOOTSTRAP JAVASCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/stylereg.css">
<link rel="stylesheet" href="~/css/FooterLogin.css">
<section class="form-Login">
    <h5>Registro</h5>
    <div id="result"></div>
    <input class="controls" type="text" id="nombres"placeholder="Nombre(s)" required>
    <input class="controls" type="text" id="apellidos" placeholder="Apellido(s)" required>
    <input class="controls" type="text" id="correo" placeholder="Correo" required>
    <input class="controls" type="text" id="usuario" placeholder="Usuario" required>
    <input class="controls" type="password" id="contrasena" placeholder="Contraseña" required>
    <div class="chk1"></div>
    <input id="check1" class="custom-radio-checkbox" type="checkbox"> Aceptas nuestros <a href="TerminosYCondiciones.html">terminos y condiciones</a>
    <br><input class="custom-radio-checkbox" type="checkbox"> Aceptas recibir actualizaciones del sitio</br>
    <p></p>

    <button hidden class="buttons" type="submit" id="btnRegistrar" value="Registrate">
        <div class="icono">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
            </svg>
            </input>
            <span>Registrarse</span>
        </div>

    </button>


    <p><a asp-action="Login" asp-controller="User"> Inicia sesión</a></p>
</section>




<script>
    var btn = document.getElementById('btnRegistrar');
    var miCheckbox = document.getElementById('check1');
    const resul = document.createElement("div");
    const text1 = document.createElement("label");
    resul.className += "alert alert-danger d-flex align-items-center";
    text1.textContent += "Acepte los terminos y condiciones";
    var ck1 = document.getElementById('chk1');

      miCheckbox.addEventListener('click', function () {
          if (miCheckbox.checked) {
              btn.hidden = false;
        } else {
              btn.hidden = true;
        }
    });
</script>





<script>
    $(document).ready(function () {

        $("#btnRegistrar").click(function () {

            var nombres = $("#nombres").val();
            var apellidos = $("#apellidos").val();
            var correo = $("#correo").val();
            var user = $("#usuario").val();
            var contrasena = $("#contrasena").val();




            if ($("#nombres").val().length > 0)
            {
                if ($("#apellidos").val().length > 0)
                {
                    if ($("#correo").val().length > 0)
                    {
                        if ($("#usuario").val().length > 0)
                        {
                            if ($("#contrasena").val().length > 0)
                            {
                                $.ajax({
                                    url: "/User/verifUser",
                                    type: "POST",
                                    data: {
                                        "correo": correo,
                                        "user": user
                                    },
                                    dataType: "json",
                                    success: function (response) {
                                        console.log(response)
                                        if (response.success == true) {
                                            $("#result").html("<div class='alert alert-warning alert-dismissible fade show'><strong>El usuario y correo ya existen</strong></div>");
                                        }
                                        else
                                            $.ajax({
                                                url: "/User/RegistrarUsuario",
                                                type: "POST",
                                                data: {
                                                    "NombreUser": nombres,
                                                    "ApellidoUser": apellidos,
                                                    "CorreoUser": correo,
                                                    "NicknameU": user,
                                                    "ContraseñaDes": contrasena,
                                                },
                                                dataType: "json",
                                                success: function (response) {
                                                    console.log(response)
                                                    if (response.success == true) {
                                                        window.location.href = "/Home/Index";
                                                    }
                                                    else
                                                        $("#result").html("<div class='alert alert-warning alert-dismissible fade show'><strong>Algo salio mal</strong></div>");


                                                },
                                                error: function () {
                                                    $("#result").html("<div class='alert alert-warning alert-dismissible fade show'><strong>Algo salio mal2</strong></div>");
                                                }
                                            });

                                    },
                                    error: function () {
                                        $("#result").html("<div class='alert alert-warning alert-dismissible fade show'><strong>Algo salio mal3</strong></div>");
                                    }
                                });
                            } else{
                                $("#result").html("<div class='alert alert-warning alert-dismissible fade show'><strong>Llene todos los campos</strong></div>");
                            }
                        } else {
                            $("#result").html("<div class='alert alert-warning alert-dismissible fade show'><strong>Llene todos los campos</strong></div>");
                        }
                    } else{
                        $("#result").html("<div class='alert alert-warning alert-dismissible fade show'><strong>Llene todos los campos</strong></div>");
                    }
                } else {
                    $("#result").html("<div class='alert alert-warning alert-dismissible fade show'><strong>Llene todos los campos</strong></div>");
                }
               
            } else {
                $("#result").html("<div class='alert alert-warning alert-dismissible fade show'><strong>Llene todos los campos</strong></div>");
               
            }




        });
    });
</script>