<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFmyschool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sitedashboard.css">
    @*ENLACE DE ICONOS DE AWESOME ICONS*@
    <script src="https://kit.fontawesome.com/a1fa76ff94.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a asp-action="Index" asp-controller="Home" class="logopequeno"><img src="~/Images/LogoCorto.png" height="45" width="50"></a>@*<img src="~/Imagen/MythSchool.png" id="logcort" class="Mythlogo"><a class="espacio2"></a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">MythSchool</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <header>
        <div class="mobile_nav">
            <div class="nav_bar">
                <img src="1.png" class="mobile_profile_image" alt="">
                <i class="fa fa-bars nav_btn"></i>
            </div>
            <div class="mobile_nav_items">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="nav-link text-white" asp-area="" asp-controller="Articulo" asp-action="Index"><i class="fas fa-table"></i><span>Articulos</span></a>
                <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
                <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
                <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
            </div>
        </div>
        <!--mobile navigation bar end-->
        <!--sidebar start-->
        <div class="sidebar">
            <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="AdminRol"><i class="fas fa-cogs"></i><span>Roles</span></a>
            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Bienvenido"><i class="fas fa-table"></i><span>Usuarios</span></a>
            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="AdminEsc"><i class="fas fa-th"></i><span>Escuelas</span></a>
            <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Login"><i class="fas fa-sliders-h"></i><span>Salir</span></a>
        </div>

    </header>
    <br />
    <br />
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        //SCRIPT OBTENER EL ALTO Y ANCHO DE LA PAGINA WEB


        const resize_ob = new ResizeObserver(function (entries) {
            let rect = entries[0].contentRect;


            let width = rect.width;
            let height = rect.height;

            console.log('Current Width : ' + width);
            console.log('Current Height : ' + height);


            if (width < 1599) {
                document.getElementById("lc").style.marginLeft = '30%'
            } else {
                document.getElementById("lc").style.marginLeft = '35%'
            }

        });

        resize_ob.observe(document.querySelector("#demo-textarea"));







    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>