
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFmyschool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Header.css">
    <script src="https://kit.fontawesome.com/590d7b9e48.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <header>
        <nav class="hidden">

            <a asp-action="Index" asp-controller="Home" class="logopequeno"><img src="~/images/LogoCorto.png" height="45" width="50"></a><img title="xdf" src="~/images/Menu/MythSchool.png" id="logcort" class="Mythlogo"><a class="espacio2"></a>
            <div class="buscarMain">
                <input id="param" placeholder="Buscar por nombres, carreras, niveles, etc..." class="bar" type="search"><a class="abus"><button id="btnBuscar" type="submit" class="Buscar"><img src="~/images/Main/Lupa2.png" class="lupa" height="20" width="20"></button></a>
            </div>
            <a class="espacio"></a>

            <div class="dropdown">
                <img src="~/images/Menu/user.png" class="logo" height="40" width="40">
                <div class="dropdown-content">
                    <a asp-action="Login" asp-controller="User" class="linkuser"><p><img src="~/images/Menu/enter.png" class="logo" height="20" width="20"> Iniciar Sesion</p></a>
                    <a asp-action="Registro" asp-controller="User" class="linkuser"><p><img src="~/images/Menu/edit.png" class="logo" height="20" width="20"> Registrarse</p></a>
                </div>
            </div>


        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer>

        <!-- Footer -->
        <div class="footerMain">
            <div class="contain">
                <div class="col">
                    <br></br>
                    <ul>
                        <a href="Acerca.html" class="links">
                        <li>Acerca de nosotros   <i class="fa-solid fa-circle-info"></i></li></a>
                    </ul>
                </div>
                <div class="col">
                    <br></br>
                    <ul>
                        <a href="TerminosYCondiciones.html" class="links">
                        <li>Terminos y condiciones   <i class="fa-solid fa-book"></i></li></a>
                    </ul>
                </div>
                <div class="col">
                    <br></br>
                    <ul>
                        <a asp-action="Contactanos" class="links">
                        <li>Contactanos   <i class="fa-solid fa-envelope"></i></li> </a>
                        <br></br>
                        <br></br>
                    </ul>
                </div>

                <div class="col">
                    <br></br>
                    <ul>
                        <h6>ver 2.6.0  <i class="fa-solid fa-code-compare"></i></h6>
                        <br></br>
                        <br></br>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



    <script>
        $(document).ready(function () {

            $("#btnBuscar").click(function () {

                var Parametro = $("#param").val();

                $.get("/Home/Buscar",
                    {
                        "parametro": Parametro
                    }, function (response) { }).done(function (data) { });
            });


        });
    </script>



